03_BuildingEscape/BuildingEscape2/Intermediate/
*/Build
*/Binaries
*/DerivedDataCache
*/StarterContent
03_BuildingEscape/BuildingEscape2/Saved/
03_BuildingEscape/BuildingEscape2/Content/
03_BuildingEscape/BuildingEscape2/Binaries/
*.db
